@page
@model RGIS_IvancicBencak.Pages.KonfiguracijaModel
@{
    User domen = new User("domen", "domen123");
    ViewData["Title"] = "Computer Configuration";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RGIS_IvancicBencak</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <h2>Dodaj konfiguracijo</h2>

    <form method="post" action="">
        <div>
            <label for="name">Ime konfiguracije:</label>
            <input type="text" id="name" name="name" class="form-control" style="width: 50%"/>
        </div>
        <div>
            <label for="cpu">CPU:</label>
            <select id="cpu" name="izbranCPU" class="form-control" style="width: 50%">
                @foreach (var cpu in Model.cpus)
                {
                    <option value="@cpu.Name">@cpu.Name</option>
                }
            </select>
        </div>

        <div>
            <label for="gpu">GPU:</label>
            <select id="gpu" name="izbranGPU" class="form-control" style="width: 50%">
                @foreach (var gpu in Model.gpus)
                    {
                    <option value="@gpu.Name">@gpu.Name</option>
                    }
            </select>
        </div>

        <div>
            <label for="ram">RAM:</label>
            <select id="ram" name="izbranRAM" class="form-control" style="width: 50%">
                @foreach (var ram in Model.rams)
                    {
                    <option value="@ram.Name @ram.Quantity GB">@ram.Name @ram.Quantity GB</option>
                    }
            </select>
        </div>

        <div>
            <br>
            <button type="submit" class="btn btn-outline-primary" onclick="shraniConfig()">Shrani konfiguracijo</button>
        </div>
    </form>
    <br>
    <table class="table table-striped" id="konfiguracije">
        <tr>
            <th>Ime</th>
            <th>CPU</th>
            <th>GPU</th>
            <th>RAM</th>
        </tr>
        @foreach (var config in Model.configs)
            {
            <tr>
                <td>@config.ime</td>
                <td>@config.Cpu.Name</td>
                <td>@config.Gpu.Name</td>
                <td>@config.Ram.Name  @config.Ram.Quantity GB</td>
            </tr>
            }
    </table>

    <script>
        function shraniConfig() {
            var cpu = document.getElementById("cpu").value;
            var gpu = document.getElementById("gpu").value;
            var ram = document.getElementById("ram").value;
            var name = document.getElementById("name").value;

            var tabela = document.getElementById("konfiguracije");

            if (name != "") {
                var novaVrstica = tabela.insertRow();
                var celica1 = novaVrstica.insertCell(0);
                var celica2 = novaVrstica.insertCell(1);
                var celica3 = novaVrstica.insertCell(2);
                var celica4 = novaVrstica.insertCell(3);

                celica1.innerHTML = name;
                celica2.innerHTML = cpu;
                celica3.innerHTML = gpu;
                celica4.innerHTML = ram;
            }
            else {
                alert("Vnesi ime konfiguracije!");
            }
            }</script>
</body>
</html>
