@page
@model RGIS_IvancicBencak.Pages.KonfiguracijaModel
@{
    User domen = new User("domen", "domen123");
    ViewData["Title"] = "Computer Configuration";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RGIS_IvancicBencak</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <h2>Dodaj konfiguracijo</h2>

    <form method="post">
        <div>
            <label for="cpu">CPU:</label>
            <select id="cpu" name="izbranCPU" class="form-control" style="width: 50%">
                @foreach (var cpu in Model.cpus)
                {
                    <option value="@cpu.Id">@cpu.Name</option>
                }
            </select>
        </div>

        <div>
            <label for="gpu">GPU:</label>
            <select id="gpu" name="izbranGPU" class="form-control" style="width: 50%">
                @foreach (var gpu in Model.gpus)
                {
                    <option value="@gpu.Id">@gpu.Name</option>
                }
            </select>
        </div>

        <div>
            <label for="ram">RAM:</label>
            <select id="ram" name="izbranRAM" class="form-control" style="width: 50%">
                @foreach (var ram in Model.rams)
                {
                    <option value="@ram.Id">@ram.Name</option>
                }
            </select>
        </div>

        <div>
            <br>
            <button type="submit" class="btn btn-outline-primary">Shrani konfiguracijo</button>
        </div>
    </form>
    <script>
        function shraniConfig() {
            var cpu = document.getElementById("cpu").value;
            var gpu = document.getElementById("gpu").value;
            var ram = document.getElementById("ram").value;
            let user = sessionStorage.getItem("user");

            if (cpu != "" && gpu != "" && ram != "") {
                
            }
            }</script>
</body>
</html>
